/* 
- margin-right: 20px;
    Устанавливает правый внешний отступ (margin) для элемента .header__lang-item равным 20 пикселям. Это добавляет горизонтальное расстояние между каждым элементом .header__lang-item, чтобы они были разделены друг от друга.

- .header__lang-item:last-of-type {
    margin-right: 0;
  }
  Устанавливает правый внешний отступ (margin) для последнего элемента .header__lang-item равным 0. Это удаляет правый отступ для последнего элемента, чтобы не было лишнего пространства после него. 

Обычно, этот подход используется, когда элементы .header__lang-item представляют собой список языковых версий сайта, и он обеспечивает правильное выравнивание без лишних отступов после последнего элемента списка.
*/
.header__lang-item {
    margin-right: 20px;
  }
    
  .header__lang-item:last-of-type {
    margin-right: 0;
  }
    