/* 
- margin: 0;
    Устанавливает внешние отступы для элемента .place__title равными 0 пикселей, что удаляет любые внешние отступы вокруг элемента.

- padding: 0;
    Удаляет внутренние отступы для элемента .place__title, что предотвращает возможные нежелательные отступы внутри элемента.

- font-style: normal;
    Устанавливает стиль шрифта элемента .place__title как обычный (без наклона или курсива).

- font-weight: 900;
    Устанавливает жирную толщину шрифта элемента .place__title.

- font-size: 72px;
    Устанавливает размер шрифта элемента .place__title равным 72 пикселям.

- line-height: 106%;
    Устанавливает высоту строки текста элемента .place__title равной 106% от размера шрифта, 
    что предотвращает лишнее пространство между строками и обеспечивает хорошее вертикальное выравнивание.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .place__title в белый (#FFFFFF), что обеспечивает хорошую видимость текста на темном фоне.
*/
.place__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - font-size: 42px;
      Устанавливает размер шрифта элемента .place__title равным 42 пикселям, что уменьшает его размер на более узких экранах.

  - line-height: 110%;
      Обновляет высоту строки текста элемента .place__title на 110%, что также помогает хорошо выравнивать текст на разных устройствах.
  */
  @media screen and (max-width: 984px) {
    .place__title {
      font-size: 42px;
      line-height: 110%;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - font-size: 32px;
      Устанавливает размер шрифта элемента .place__title равным 32 пикселям, что дальше уменьшает его размер на очень узких экранах.

  - line-height: 109%;
      Обновляет высоту строки текста элемента .place__title на 109%, что помогает хорошо выравнивать текст на узких экранах.

  - padding-left: 16px;
      Добавляет внутренний отступ слева для элемента .place__title в 16 пикселей, что создает отступ от левого края на узких экранах.
  */
  @media screen and (max-width: 568px) {
    .place__title {
      font-size: 32px;
      line-height: 109%;
      padding-left: 16px;
    }
  }