/* 
- max-width: 1184px;
    Устанавливает максимальную ширину элемента .photo-grid в 1184 пикселя, что ограничивает его ширину на больших экранах.

- display: grid;
    Устанавливает элемент .photo-grid как контейнер сетки, чтобы его дочерние элементы можно было расположить в сетке.

- gap: 16px;
    Устанавливает промежуток (отступ) между элементами в сетке .photo-grid равным 16 пикселям.

- grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    Определяет шаблон для колонок в сетке .photo-grid. Здесь используется "auto-fit" для автоматического изменения количества колонок, 
    и "minmax(284px, 1fr)" для установки минимальной ширины колонки в 284 пикселя и максимальной ширины 1fr (часть доступного пространства). 
    Это позволяет элементам сетки подстраиваться под ширину контейнера.

- grid-template-rows: 1fr;
    Устанавливает шаблон для строк в сетке .photo-grid. 
    Здесь используется "1fr" для установки высоты строки равной 1 части доступного пространства, 
    что позволяет строке занимать всё доступное вертикальное пространство.

- margin: 0 auto;
    Устанавливает внешние отступы (0 сверху/снизу и автоматически справа/слева), чтобы элемент .photo-grid был выровнен по центру горизонтально.
*/
.photo-grid {
    max-width: 1184px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: 1fr;
    margin: 0 auto;
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - max-width: 928px;
      Устанавливает максимальную ширину элемента .photo-grid в 928 пикселей, что ограничивает его ширину на средних экранах.
  - gap: 14px;
      Устанавливает промежуток (отступ) между элементами в сетке .photo-grid равным 14 пикселям.
  - grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      Обновляет шаблон для колонок в сетке .photo-grid, устанавливая минимальную ширину колонки в 300 пикселей.
  */
  @media screen and (max-width: 1140px) {
    .photo-grid {
      max-width: 928px;
      gap: 14px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .photo-grid в 720 пикселей, что ограничивает его ширину на более узких экранах.
  - grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      Обновляет шаблон для колонок в сетке .photo-grid, устанавливая минимальную ширину колонки в 352 пикселя.
  */
  @media screen and (max-width: 984px) {
    .photo-grid {
      max-width: 720px;
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - padding: 0 16px;
      Добавляет отступ справа и слева для элемента .photo-grid, чтобы создать небольшое пространство между контейнером и его содержимым.
  - min-width: 288px;
      Устанавливает минимальную ширину элемента .photo-grid в 288 пикселей, чтобы предотвратить слишком сильное сжатие на очень узких экранах.
  - gap: 12px;
      Устанавливает промежуток (отступ) между элементами в сетке .photo-grid равным 12 пикселям.
  - grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      Обновляет шаблон для колонок в сетке .photo-grid, устанавливая минимальную ширину колонки в 288 пикселей.
  */
  @media screen and (max-width: 568px) {
    .photo-grid {
      padding: 0 16px;
      min-width: 288px;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    }
  }