/* 
- max-width: 984px;
    Устанавливает максимальную ширину элемента .places в 984 пикселя, что ограничивает его ширину на больших экранах.

- margin: 0 auto;
    Устанавливает автоматические внешние отступы сверху и снизу и автоматически выравнивает элемент .places по центру горизонтально.

- padding: 92px 0;
    Устанавливает внутренние отступы для элемента .places, что создает вертикальные отступы сверху и снизу в 92 пикселя.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .places. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", 
    а затем к любому общему беззасечному (sans-serif) шрифту.

- background-color: #2A2C2F;
    Устанавливает цвет фона элемента .places в темно-серый (#2A2C2F).

- color: #FFFFFF;
    Устанавливает цвет текста элемента .places в белый (#FFFFFF), что обеспечивает хорошую видимость текста на темном фоне.
*/
.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    color: #FFFFFF;
}

/* 
Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 928px;
      Устанавливает максимальную ширину элемента .places в 928 пикселей, что ограничивает его ширину на средних экранах.
*/
@media screen and (max-width: 1140px) {
    .places {
      max-width: 928px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .places в 720 пикселей, что ограничивает его ширину на более узких экранах.
  */
  @media screen and (max-width: 984px) {
    .places {
      max-width: 720px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - max-width: 320px;
      Устанавливает максимальную ширину элемента .places в 320 пикселей, что ограничивает его ширину на очень узких экранах.
  - padding: 64px 0 40px 0;
      Обновляет внутренние отступы для элемента .places, устанавливая вертикальные отступы сверху, 
      снизу и сокращая вертикальные отступы сверху и снизу до 64 и 40 пикселей соответственно.
  */
  @media screen and (max-width: 568px) {
    .places {
      max-width: 320px;
      padding: 64px 0 40px 0;
    }
  }