/* 
- max-width: 690px;
    Устанавливает максимальную ширину элемента .intro__list в 690 пикселей, что ограничивает его ширину на больших экранах.

- margin: 0;
    Удаляет внешние отступы для элемента .intro__list, чтобы список был прижат к краям элемента.

- padding: 0;
    Удаляет внутренние отступы для элемента .intro__list, чтобы список был прижат к краям элемента.

- list-style: none;
    Удаляет стандартные маркеры списка для элемента .intro__list.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .intro__list. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .intro__list.

- font-weight: 700;
    Устанавливает жирное начертание шрифта для текста элемента .intro__list.

- font-size: 12px;
    Устанавливает размер шрифта элемента .intro__list равным 12 пикселям. Это небольшой размер шрифта, что может использоваться для описаний или элементов списка.

- line-height: 150%;
    Устанавливает высоту строки для текста элемента .intro__list, что позволяет установить большой интервал между строками, что делает текст более читабельным.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .intro__list в белый (#FFFFFF).
*/
.intro__list {
    max-width: 690px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    list-style: none;
    color: #FFFFFF;
}

/* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .intro__list в 720 пикселей, что ограничивает его ширину на маленьких экранах.
*/
@media screen and (max-width: 984px) {
    .intro__list {
      max-width: 720px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - min-width: 288px;
      Устанавливает минимальную ширину элемента .intro__list в 288 пикселей, чтобы предотвратить слишком сильное сжатие на очень узких экранах.
  */
  @media screen and (max-width: 568px) {
    .intro__list {
      min-width: 288px;
    }
  }