/* 
- display: flex;
    Устанавливает элемент .lead в режим гибкого блока (flex container), что позволяет дочерним элементам располагаться в столбец.

- flex-direction: column;
    Устанавливает направление гибкого контейнера в столбец, чтобы дочерние элементы размещались вертикально.

- text-align: center;
    Выравнивает текст внутри элемента .lead по центру.

- align-items: center;
    Выравнивает дочерние элементы по центру по горизонтали внутри элемента .lead.

- max-width: 984px;
    Устанавливает максимальную ширину элемента .lead в 984 пикселя, что ограничивает его ширину на больших экранах.

- margin: 0 auto;
    Устанавливает отступы сверху и снизу равными 0, а отступы слева и справа автоматически выравнивают элемент .lead по центру горизонтально.

- color: white;
    Устанавливает цвет текста внутри элемента .lead на белый (#FFFFFF).
*/
.lead {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
max-width: 984px;
margin: 0 auto;
color: white;
}

/* 
Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
    Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

    Внутри этого медиа-запроса, применяются следующие стили:
    - max-width: 928px;
        Устанавливает максимальную ширину элемента .lead в 928 пикселей, что ограничивает его ширину на средних экранах.
    - padding: 0 48px;
        Устанавливает внутренние отступы для элемента .lead в формате: верхний и нижний отступы равны 0, левый и правый отступы равны 48 пикселей.
    - margin-bottom: 92px;
        Добавляет отступ снизу элемента .lead равным 92 пикселям, что создает пространство между .lead и другими элементами на странице.
*/
@media screen and (max-width: 1140px){
    .lead {
        max-width: 928px;
        padding: 0 48px;
        margin-bottom: 92px;
    }
}

/* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - padding: 0;
      Удаляет внутренние отступы для элемента .lead, чтобы контент занимал всю доступную ширину на узких экранах.
*/
@media screen and (max-width: 984px) {
    .lead {
      padding: 0;
    }
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - min-width: 320px;
      Устанавливает минимальную ширину элемента .lead в 320 пикселей, чтобы предотвратить слишком сильное сжатие на маленьких экранах.
  - padding-left: 0;
      Удаляет внутренний отступ слева для элемента .lead на узких экранах.
  - padding-right: 0;
      Удаляет внутренний отступ справа для элемента .lead на узких экранах.
  */
@media screen and (max-width: 568px) {
    .lead {
      min-width: 320px;
      padding-left: 0;
      padding-right: 0;
    }
  }