/* 
- max-width: 360px;
    Устанавливает максимальную ширину текста элемента .cover__subtitle равной 360 пикселям. 
    Это ограничивает ширину текста, чтобы текст не распространялся на всю ширину контейнера и сохранял хорошую читаемость.

- margin: 0 auto;
    Устанавливает внешние отступы текста элемента .cover__subtitle 
    автоматически центрирующим текст по горизонтали внутри его родительского контейнера.

- padding: 0;
    Удаляет внутренние отступы для текста элемента .cover__subtitle, что предотвращает возможные нежелательные отступы внутри текста.

- font-family: 'Inter';
    Устанавливает шрифт для текста элемента .cover__subtitle как 'Inter', что позволяет использовать пользовательский шрифт для подзаголовка.

- font-style: normal;
    Устанавливает стиль шрифта элемента .cover__subtitle как обычный (без наклона или курсива).

- font-weight: 400;
    Устанавливает нормальное начертание (толщину) для шрифта элемента .cover__subtitle, 
    что делает подзаголовок более легким по сравнению с заголовком.

- font-size: 18px;
    Устанавливает размер шрифта элемента .cover__subtitle равным 18 пикселям.

- line-height: 122%;
    Устанавливает высоту строки текста элемента .cover__subtitle равной 122% от размера шрифта, 
    что обеспечивает хорошее вертикальное выравнивание и промежуток между строками текста.

- text-align: center;
    Выравнивает текст подзаголовка по центру элемента .cover__subtitle.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .cover__subtitle в белый (#FFFFFF), 
    что обеспечивает хорошую видимость подзаголовка на темном фоне.

- z-index: 1;
    Устанавливает индекс подъема элемента .cover__subtitle равным 1, 
    что может быть полезно для работы с позиционированием элементов в трехмерном пространстве.
*/
.cover__subtitle {
max-width: 360px;
margin: 0 auto;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #FFFFFF;
z-index: 1;
}
/* 
Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - min-width: 288px;
      Устанавливает минимальную ширину текста элемента .cover__subtitle равной 288 пикселям на самых узких экранах, 
      чтобы текст оставался читаемым и хорошо отображался.
  
  - font-size: 14px;
      Обновляет размер шрифта элемента .cover__subtitle равным 14 пикселям на более узких экранах.
  
  - line-height: 114%;
      Обновляет высоту строки текста элемента .cover__subtitle равной 114% от размера шрифта на более узких экранах, 
      что обеспечивает хорошее вертикальное выравнивание и промежуток между строками текста на узких экранах.
*/
@media screen and (max-width: 568px) {
    .cover__subtitle {
      min-width: 288px;
      font-size: 14px;
      line-height: 114%;
    }
  }