/* 
- width: 176px;
    Устанавливает ширину элемента .header__logo равную 176 пикселям.

- height: 52px;
    Устанавливает высоту элемента .header__logo равную 52 пикселям.
*/

.header__logo {
    width: 176px;
    height: 52px;
  }

  /*
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
    Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

    Внутри этого медиа-запроса, применяются следующие стили:
    - max-width: 142px;
        Устанавливает максимальную ширину элемента .header__logo в 142 пикселя, что уменьшает его ширину на устройствах с узкими экранами.

    - height: 42px;
        Устанавливает высоту элемента .header__logo равную 42 пикселям, что уменьшает его высоту на устройствах с узкими экранами.
*/
  @media screen and (max-width: 568px) {
    .header__logo {
      max-width: 142px;
      height: 42px;
    }
  }