/* 
- display: flex;
    Устанавливает элемент .header в режим гибкого блока, что позволяет дочерним элементам располагаться в одной строке.

- justify-content: space-between;
    Распределяет пространство между дочерними элементами по всей ширине .header, помещая их в начале и конце контейнера.

- align-items: center;
    Выравнивает дочерние элементы по вертикали по центру .header.

- max-width: 1184px;
    Устанавливает максимальную ширину .header в 1184 пикселя, что позволяет контролировать максимальную ширину при разных размерах экранов.

- margin: 0 auto;
    Устанавливает отступы сверху и снизу равными 0, а отступы слева и справа автоматически выравнивают контейнер по центру горизонтально.

- padding: 28px 48px 56px 48px;
    Устанавливает внутренние отступы для .header в формате: верхний 28 пикселей, правый 48 пикселей, нижний 56 пикселей и левый 48 пикселей.

- background-color: #2A2C2F;
    Устанавливает фоновый цвет .header в темно-серый (#2A2C2F). */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 48px 56px 48px;
    background-color: #2A2C2F;
}

/* 
Медиа-запрос для устройств с шириной экрана до 1140 пикселей.
На таких устройствах уменьшается вертикальное пространство между .header и его дочерними элементами.
*/

@media screen and (max-width: 1140px) {
    .header {
      padding-bottom: 48px;
    }
  }
  
  /* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей.
На таких устройствах уменьшаются внутренние отступы сверху и снизу, сохраняя боковые отступы большими.
*/

  @media screen and (max-width: 984px) {
    .header {
      padding: 28px 24px 48px 24px;
    }
  }
  
  /* 
Медиа-запрос для устройств с шириной экрана до 568 пикселей.
На таких устройствах уменьшаются внутренние отступы сверху и снизу еще больше, а боковые отступы становятся равными 16 пикселям.
Также устанавливается минимальная ширина .header в 288 пикселей, чтобы предотвратить слишком сильное сжатие на маленьких экранах.
*/

  @media screen and (max-width: 568px) {
    .header {
      padding: 16px 16px 48px 16px;
      min-width: 288px;
    }
  }