/* 
- padding: 0;
    Удаляет внутренние отступы для элемента .place__paragraphs, что предотвращает возможные нежелательные отступы внутри элемента.

- margin: 0;
    Удаляет внешние отступы для элемента .place__paragraphs, что устанавливает его близко к соседним элементам, не создавая отступов сверху и снизу.

- font-size: 18px;
    Устанавливает размер шрифта элемента .place__paragraphs равным 18 пикселям.

- line-height: 163%;
    Устанавливает высоту строки текста элемента .place__paragraphs равной 163% от размера шрифта, что предотвращает лишнее пространство между строками и обеспечивает хорошее вертикальное выравнивание.

- font-weight: normal;
    Устанавливает нормальную толщину шрифта элемента .place__paragraphs, что является значением по умолчанию.

- font-style: normal;
    Устанавливает стиль шрифта элемента .place__paragraphs как обычный (без наклона или курсива).
*/
.place__paragraphs {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 163%;
    font-weight: normal;
    font-style: normal;
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - font-size: 16px;
      Устанавливает размер шрифта элемента .place__paragraphs равным 16 пикселям, что уменьшает его размер на более узких экранах.
  */
  @media screen and (max-width: 984px) {
    .place__paragraphs {
      font-size: 16px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - padding: 0 16px;
      Добавляет внутренний отступ слева и справа для элемента .place__paragraphs в 16 пикселей, что создает отступы по бокам на узких экранах.
  */
  @media screen and (max-width: 568px) {
    .place__paragraphs {
      padding: 0 16px;
    }
  }