/*
padding: 0;
Убирает внутренние отступы для ссылки, чтобы текст был выровнен по краям элемента.

margin: 0;
Убирает внешние отступы для ссылки, чтобы она не имела промежутков с другими элементами.

text-decoration: none;
Удаляет стандартное подчеркивание для ссылки, чтобы она не выглядела как обычная гиперссылка.

max-width: 50px;
Устанавливает максимальную ширину ссылки равной 50 пикселям, чтобы ограничить ее ширину.

min-height: 18px;
Устанавливает минимальную высоту ссылки равной 18 пикселям, чтобы обеспечить определенную высоту для текста ссылки.

font-family: 'Inter';
Устанавливает шрифт семейства 'Inter' для текста ссылки.

font-style: normal;
Устанавливает обычный (нестилизованный) стиль шрифта для текста ссылки.

font-weight: 400;
Устанавливает нормальную (обычную) толщину шрифта для текста ссылки.

font-size: 16px;
Устанавливает размер шрифта ссылки равным 16 пикселям.

line-height: 112%;
Устанавливает высоту строки равной 112% от размера шрифта, чтобы обеспечить оптимальное расстояние между строками.

color: #FFFFFF;
Устанавливает цвет текста ссылки в белый (#FFFFFF).

transition: opacity .5s ease;
Добавляет плавный переход изменения прозрачности ссылки при наведении курсора на нее с длительностью 0.5 секунды и функцией ease.

.footer__link:hover {
opacity: .8;
}
При наведении курсора на ссылку, меняет прозрачность ссылки на 0.8, что делает ее немного более прозрачной.
*/
.footer__link {
padding: 0;
margin: 0;
text-decoration: none;
max-width: 50px;
min-height: 18px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 112%;
color: #FFFFFF;
transition: opacity .5s ease;
}
.footer__link:hover {
    opacity: .8;
}

/* 
Этот медиа-запрос применяется для экранов с максимальной шириной 568 пикселей или меньше.
Внутри медиа-запроса определяются стили для элементов с классом .footer__link.

font-size: 24px;
Устанавливает размер шрифта ссылки равным 24 пикселям.

line-height: 100%;
Устанавливает высоту строки равной 100% от размера шрифта, что делает расстояние между строками равным высоте шрифта.

Этот медиа-запрос применяется, когда ширина экрана достигает максимального значения 568 пикселей или меньше. 
В таком случае, размер шрифта для ссылки .footer__link будет увеличен до 24 пикселей, а расстояние между строками будет равно высоте шрифта, 
чтобы обеспечить лучшую читаемость на устройствах с небольшим экраном.
*/
@media screen and (max-width: 568px) {
    .footer__link {
      font-size: 24px;
      line-height: 100%;
    }
  }