/* 
- max-width: 720px;
    Устанавливает максимальную ширину элемента .lead__title в 720 пикселей, что ограничивает его ширину на больших экранах.

- margin: 0 auto;
    Устанавливает отступы сверху и снизу равными 0, а отступы слева и справа автоматически выравнивают элемент .lead__title по центру горизонтально.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .lead__title. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .lead__title.

- font-weight: 900;
    Устанавливает жирное начертание для текста элемента .lead__title.

- font-size: 96px;
    Устанавливает размер шрифта элемента .lead__title равным 96 пикселям.

- line-height: 104%;
    Устанавливает высоту строки для текста элемента .lead__title, что позволяет установить небольшой интервал между строками.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .lead__title в белый (#FFFFFF).
*/
.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    color: #FFFFFF;
}

/* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - padding: 0 24px;
      Устанавливает внутренние отступы для элемента .lead__title в формате: верхний и нижний отступы равны 0, 
      левый и правый отступы равны 24 пикселям. 
      Это создает пространство между заголовком и другими элементами на средних экранах.
*/
@media screen and (max-width: 984px) {
    .lead__title {
      padding: 0 24px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - max-width: 288px;
      Устанавливает максимальную ширину элемента .lead__title в 288 пикселей, что ограничивает его ширину на узких экранах.
  - padding: 0 16px;
      Устанавливает внутренние отступы для элемента .lead__title в формате: верхний и нижний отступы равны 0, 
      левый и правый отступы равны 16 пикселям. 
      Это создает еще меньше пространства между заголовком и другими элементами на маленьких экранах.
  - font-size: 40px;
      Устанавливает размер шрифта элемента .lead__title равным 40 пикселям на узких экранах.
  - line-height: 110%;
      Устанавливает высоту строки для текста элемента .lead__title, что позволяет установить небольшой интервал между строками на узких экранах.
  */
  @media screen and (max-width: 568px) {
    .lead__title {
      max-width: 288px;
      padding: 0 16px;
      font-size: 40px;
      line-height: 110%;
    }
  }