/* 
- padding: 0;
    Удаляет внутренние отступы для элемента .place__paragraph, что предотвращает возможные нежелательные отступы внутри элемента.

- margin: 0 0 26px;
    Устанавливает внешние отступы для элемента .place__paragraph равными 0 пикселей сверху и снизу, и 26 пикселей справа и слева. 
    Это создает небольшой отступ снизу элемента .place__paragraph, отделяя его от соседних элементов.

- .place__paragraph:last-of-type {
    margin-bottom: 0;
  }
    Этот селектор применяет стиль к последнему элементу с классом .place__paragraph в контейнере. 
    Устанавливает отступ снизу для последнего элемента равным 0 пикселей, 
    чтобы предотвратить ненужный отступ снизу у последнего элемента в контейнере.
*/
.place__paragraph {
    padding: 0;
    margin: 0 0 26px;
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - .place__paragraph {
      margin: 0 0 25px;
    }
    Обновляет внешние отступы для элемента .place__paragraph равными 0 пикселей сверху и снизу, 
    и 25 пикселей справа и слева. Это создает другой небольшой отступ снизу элемента .place__paragraph на более узких экранах.
  */
  @media screen and (max-width: 984px) {
    .place__paragraph {
      margin: 0 0 25px;
    }
  }