/* 
font-size: 14px;
Устанавливает размер шрифта для текста внутри элемента .footer__copyright равным 14 пикселям.

line-height: 114%;
Устанавливает высоту строки для текста равной 114% от размера шрифта, что создает небольшой промежуток между строками.

font-weight: normal;
Устанавливает обычное начертание (нормальную жирность) для текста.

font-style: normal;
Устанавливает обычный стиль шрифта (не курсив и не жирный) для текста.

margin: 0;
Устанавливает отступы внутри элемента .footer__copyright внутри его контейнера.

padding: 0;
Устанавливает внутренние поля внутри элемента .footer__copyright.

color: #fff;
Устанавливает цвет текста внутри элемента .footer__copyright в белый (#fff).

Эти стили определяют внешний вид текста, который отображается внутри элемента .footer__copyright.
*/
.footer__copyright {
    font-size: 14px;
    line-height: 114%;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  /* 
  Этот медиа-запрос применяется для экранов с максимальной шириной 568 пикселей или меньше.

.footer__copyright {
line-height: 100%;
}
Внутри медиа-запроса определяется новое значение для свойства line-height (высота строки) для элемента .footer__copyright.

line-height: 100%;
Устанавливает высоту строки равной 100% от размера шрифта. Это уменьшит промежуток между строками текста на устройствах с маленьким экраном.

Этот медиа-запрос применяется, когда ширина экрана достигает максимального значения 568 пикселей или меньше. 
В таком случае, высота строки для текста .footer__copyright будет уменьшена до 100% от размера шрифта.
  */
  @media screen and (max-width: 568px) {
    .footer__copyright {
      line-height: 100%;
    }
  }