/* 
- max-width: 690px;
    Устанавливает максимальную ширину элемента .intro__text в 690 пикселей, что ограничивает его ширину на больших экранах.

- margin: 40px 0 33px;
    Устанавливает внешние отступы для элемента .intro__text в формате: верхний отступ равен 40 пикселям, нижний отступ равен 33 пикселям, а отступ сбоку равен 0. Это создает пространство между элементами .intro__title и .intro__text сверху и снизу.

- padding: 0;
    Удаляет внутренние отступы для элемента .intro__text, чтобы текст был прижат к краям элемента.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .intro__text. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .intro__text.

- font-weight: 400;
    Устанавливает нормальную толщину шрифта для текста элемента .intro__text.

- font-size: 16px;
    Устанавливает размер шрифта элемента .intro__text равным 16 пикселям. Это стандартный размер шрифта для основного текста.

- line-height: 163%;
    Устанавливает высоту строки для текста элемента .intro__text, что позволяет установить большой интервал между строками, что делает текст более читабельным.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .intro__text в белый (#FFFFFF).

*/
.intro__text {
max-width: 690px;
margin: 40px 0 33px;
padding: 0;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}

/* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .intro__text в 720 пикселей, что ограничивает его ширину на маленьких экранах.
*/
@media screen and (max-width: 984px) {
    .intro__text {
      max-width: 720px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - min-width: 288px;
      Устанавливает минимальную ширину элемента .intro__text в 288 пикселей, чтобы предотвратить слишком сильное сжатие на очень узких экранах.
  */
  @media screen and (max-width: 568px) {
    .intro__text {
      min-width: 288px;
    }
  }