/* 
- max-width: 690px;
    Устанавливает максимальную ширину элемента .intro в 690 пикселей, что ограничивает его ширину на больших экранах.

- margin: 0 auto;
    Устанавливает отступы сверху и снизу равными 0, а отступы слева и справа автоматически выравнивают элемент .intro по центру горизонтально.

- padding: 92px 0;
    Устанавливает внутренние отступы для элемента .intro в формате: верхний и нижний отступы равны 92 пикселям, а левый и правый отступы равны 0. Это создает пространство вверху и внизу блока .intro, и нет отступов сбоку.

- background-color: #2A2C2F;
    Устанавливает фоновый цвет элемента .intro в темно-серый (#2A2C2F).
*/
.intro {
    max-width: 690px;
    margin: 0 auto;
    padding: 92px 0;
    background-color: #2A2C2F;
}

/* 
Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - max-width: 928px;
      Устанавливает максимальную ширину элемента .intro в 928 пикселей, что ограничивает его ширину на средних экранах.
  - padding: 0 48px 92px 48px;
      Устанавливает внутренние отступы для элемента .intro в формате: верхний отступ равен 0, 
      нижний отступ равен 92 пикселям, а левый и правый отступы равны 48 пикселям. 
      Это убирает верхний отступ и добавляет отступ снизу для блока .intro на средних экранах.
*/
@media screen and (max-width: 1140px) {
    .intro {
      max-width: 928px;
      padding: 0 48px 92px 48px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .intro в 720 пикселей, что ограничивает его ширину на маленьких экранах.
  - margin: 0;
      Устанавливает отступы сверху и снизу равными 0, чтобы убрать вертикальные отступы у блока .intro на маленьких экранах.
  - padding: 88px 24px;
      Устанавливает внутренние отступы для элемента .intro в формате: верхний и нижний отступы равны 88 пикселям, 
      а левый и правый отступы равны 24 пикселям. 
      Это убирает верхний отступ и добавляет небольшой отступ снизу для блока .intro на маленьких экранах.
  */
  @media screen and (max-width: 984px) {
    .intro {
      max-width: 720px;
      margin: 0;
      padding: 88px 24px;
    }  
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - min-width: 288px;
      Устанавливает минимальную ширину элемента .intro в 288 пикселей, чтобы предотвратить слишком сильное сжатие на очень узких экранах.
  - padding: 64px 16px;
      Устанавливает внутренние отступы для элемента .intro в формате: верхний и нижний отступы равны 64 пикселям, 
      а левый и правый отступы равны 16 пикселям. 
      Это создает небольшое пространство вокруг блока .intro на очень узких экранах.
  */
  @media screen and (max-width: 568px) {
    .intro {
      min-width: 288px;
      padding: 64px 16px;
    }
  }