/* 

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста для элемента .root. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- background-color: #2A2C2F;
    Устанавливает фоновый цвет элемента .root в темно-серый (#2A2C2F).

- width: 100%;
    Задает ширину элемента .root в 100% от его родительского контейнера, что позволяет элементу занимать всю доступную ширину.

- max-width: 1280px;
    Устанавливает максимальную ширину элемента .root в 1280 пикселей, что ограничивает его ширину на широких экранах.

- min-width: 320px;
    Устанавливает минимальную ширину элемента .root в 320 пикселей, что предотвращает его слишком сильное сжатие на узких экранах.

- margin: 0 auto;
    Устанавливает отступы сверху и снизу равными 0, а отступы слева и справа автоматически выравнивают элемент .root по центру горизонтально.
*/

.root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  }
  