/* 
- max-width: 640px;
    Устанавливает максимальную ширину элемента .lead__subtitle в 640 пикселей, что ограничивает его ширину на больших экранах.

- padding: 0;
    Удаляет внутренние отступы для элемента .lead__subtitle, чтобы текст был прижат к краям элемента.

- margin: 32px auto 64px;
    Устанавливает внешние отступы для элемента .lead__subtitle в формате: верхний отступ равен 32 пикселям, нижний отступ равен 64 пикселям, а левый и правый отступы автоматически выравнивают элемент по центру горизонтально. Это создает пространство между заголовком и текстом в блоке на больших экранах.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .lead__subtitle. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-size: 30px;
    Устанавливает размер шрифта элемента .lead__subtitle равным 30 пикселям.

- line-height: 120%;
    Устанавливает высоту строки для текста элемента .lead__subtitle, что позволяет установить небольшой интервал между строками.

- font-weight: normal;
    Устанавливает обычную толщину шрифта для текста элемента .lead__subtitle.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .lead__subtitle.
*/
.lead__subtitle {
    max-width: 640px;
    padding: 0;
    margin: 32px auto 64px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: normal;
    font-style: normal;
}

/* 
Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
    Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

    Внутри этого медиа-запроса, применяется следующий стиль:
    - margin: 32px auto 56px;
        Устанавливает внешние отступы для элемента .lead__subtitle в формате: верхний отступ равен 32 пикселям, 
        нижний отступ равен 56 пикселям, а левый и правый отступы автоматически выравнивают элемент по центру горизонтально. 
        Это создает немного меньшее пространство между заголовком и текстом в блоке на средних экранах.
*/
@media screen and (max-width: 984px) {
    .lead__subtitle {
      margin: 32px auto 56px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
    Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

    Внутри этого медиа-запроса, применяются следующие стили:
    - min-width: 288px;
        Устанавливает минимальную ширину элемента .lead__subtitle в 288 пикселей, чтобы предотвратить слишком сильное сжатие на маленьких экранах.
    - margin: 16px auto 40px;
        Устанавливает внешние отступы для элемента .lead__subtitle в формате: верхний отступ равен 16 пикселям, нижний отступ равен 40 пикселям, 
        а левый и правый отступы автоматически выравнивают элемент по центру горизонтально. Это создает еще меньше пространства между заголовком и текстом в блоке на узких экранах.
    - padding: 
  */
  @media screen and (max-width: 568px) {
    .lead__subtitle {
      min-width: 288px;
      margin: 16px auto 40px;
      padding: 0 16px;
      font-size: 16px;
      line-height: 125%;
    }
  }