/* 
- max-width: 1184px;
    Устанавливает максимальную ширину элемента .cover равной 1184 пикселям. Это ограничивает ширину элемента, чтобы он не становился слишком широким на экранах с большим разрешением.

- margin: 0 auto;
    Устанавливает внешние отступы элемента .cover равными 0 пикселей сверху и снизу, и автоматически центрирует элемент по горизонтали, благодаря "auto" для отступов слева и справа.

- padding: 0;
    Удаляет внутренние отступы для элемента .cover, что предотвращает возможные нежелательные отступы внутри элемента.

- text-align: center;
    Выравнивает текст внутри элемента .cover по центру, что позволяет центрировать содержимое элемента.
*/
.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

/* 
Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 1024px;
      Устанавливает максимальную ширину элемента .cover равной 1024 пикселям на более узких экранах.
*/
@media screen and (max-width: 1140px) {
    .cover {
      max-width: 1024px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - min-width: 320px;
      Устанавливает минимальную ширину элемента .cover равной 320 пикселям на самых узких экранах, 
      чтобы контент оставался читаемым и хорошо отображался.
  */
  @media screen and (max-width: 568px) {
    .cover {
      min-width: 320px;
    }
  }