/* 
/* 
Код для стилизации элемента с классом ".place__link".

- margin: 0;
    Устанавливает внешние отступы для элемента .place__link равными 0 пикселей, что удаляет любые внешние отступы вокруг элемента.

- padding: 0;
    Удаляет внутренние отступы для элемента .place__link, что предотвращает возможные нежелательные отступы внутри элемента.

- font-style: normal;
    Устанавливает стиль шрифта элемента .place__link как обычный (без наклона или курсива).

- font-weight: 400;
    Устанавливает нормальную толщину шрифта элемента .place__link, что является значением по умолчанию.

- font-size: 18px;
    Устанавливает размер шрифта элемента .place__link равным 18 пикселям.

- line-height: 122%;
    Устанавливает высоту строки текста элемента .place__link равной 122% от размера шрифта, что предотвращает лишнее пространство между строками и обеспечивает хорошее вертикальное выравнивание.

- text-decoration-line: underline;
    Добавляет подчеркивание для текста элемента .place__link, чтобы указать, что это ссылка.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .place__link в белый (#FFFFFF), что обеспечивает хорошую видимость ссылки на темном фоне.

- transition: opacity .5s ease;
    Добавляет плавный переход (анимацию) для свойства "opacity" элемента .place__link, который будет занимать 0.5 секунды с эффектом "ease".

- .place__link:hover {
    opacity: .8;
  }
    Этот стиль будет применяться при наведении курсора на элемент .place__link. Устанавливает значение непрозрачности (opacity) на 0.8 (80%), что делает ссылку немного прозрачной при наведении, создавая визуальную обратную связь пользователю.
*/
*/
.place__link {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s ease;
  }
  
  .place__link:hover {
    opacity: .8;
  }