/*
- display: flex;
    Устанавливает элемент .header__lang-list в режим гибкого блока (flex container), что позволяет дочерним элементам располагаться в одной строке.

- margin: 0;
    Устанавливает внешние отступы для элемента .header__lang-list равными 0, что удаляет отступы сверху и снизу.

- padding: 0;
    Устанавливает внутренние отступы для элемента .header__lang-list равными 0, что удаляет отступы слева и справа.
- list-style: none;
    Удаляет маркеры списка для элемента .header__lang-list, что позволяет убрать маркеры (точки), если элемент является списком.
*/

.header__lang-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
