/* 
- display: flex;
    Устанавливает элемент .cover__background как flex-контейнер, что позволяет управлять позиционированием и выравниванием дочерних элементов.

- flex-direction: column;
    Устанавливает направление расположения дочерних элементов внутри .cover__background по вертикали (сверху вниз), 
    что позволяет разместить содержимое вертикально.

- justify-content: center;
    Выравнивает содержимое по вертикали по центру контейнера.

- position: relative;
    Устанавливает позиционирование элемента .cover__background как относительное, 
    что позволяет управлять позицией его дочерних элементов относительно него.

- max-width: 1184px;
    Устанавливает максимальную ширину элемента .cover__background равной 1184 пикселям, что ограничивает его ширину на широких экранах.

- min-height: 740px;
    Устанавливает минимальную высоту элемента .cover__background равной 740 пикселям, 
    что обеспечивает минимальную высоту контейнера, чтобы контент не перекрывался другими элементами.

- width: 100%;
    Занимает всю доступную ширину контейнера.

- height: 100%;
    Занимает всю доступную высоту контейнера.

- background-image: url(../../../images/cover-background.jpg);
    Устанавливает изображение фона для элемента .cover__background, указывая путь к изображению в свойстве url().

- background-size: cover;
    Заполняет контейнер изображением, масштабируя его таким образом, чтобы оно полностью покрывало фоновую область.

- background-position: center center;
    Центрирует изображение по горизонтали и вертикали внутри контейнера.

- background-repeat: no-repeat;
    Запрещает повторение изображения фона, чтобы изображение не повторялось, если оно меньше контейнера.

- color: #fff;
    Устанавливает цвет текста внутри .cover__background в белый (#fff).

- text-decoration: none;
    Удаляет стандартное подчеркивание ссылок, если таковые есть внутри .cover__background.

*/
.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/cover-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
}

/* 
::before псевдоэлемент:
- content: '';
    Добавляет контент (пустой) псевдоэлемента .cover__background:before.

- position: absolute;
    Устанавливает абсолютное позиционирование псевдоэлемента .cover__background:before, 
    что позволяет его расположить относительно родительского элемента.

- top, left, right, bottom: 0;
    Размещает псевдоэлемент .cover__background:before на всех сторонах родительского элемента, чтобы создать эффект полупрозрачного слоя.

- background: #2A2C2F;
    Устанавливает цвет фона псевдоэлемента .cover__background:before в темно-серый (#2A2C2F).

- opacity: .3;
    Устанавливает прозрачность псевдоэлемента .cover__background:before на уровне 0.3, что делает его полупрозрачным.

- transition: opacity .3s ease;
    Добавляет плавный переход прозрачности псевдоэлемента .cover__background:before с длительностью 0.3 секунды и функцией ease.
*/
.cover__background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .3s ease;
  }

  /* 
  .cover__background:hover::before псевдоэлемент:
- opacity: .8;
    При наведении курсора на элемент .cover__background, меняет прозрачность псевдоэлемент
  */
  .cover__background:hover::before {
    opacity: .8;
  }

  /* 
  @media screen and (max-width: 1140px)
Когда ширина экрана устройства меньше или равна 1140 пикселям, активируется этот медиа-запрос.

Внутри этого медиа-запроса устанавливается минимальная высота ".cover__background" равной 640 пикселям. 
Таким образом, на устройствах с шириной экрана до 1140 пикселей фоновый блок будет иметь высоту 640 пикселей.
  */
  @media screen and (max-width: 1140px) {
    .cover__background {
      min-height: 640px;
    }
  }
  
  /* 
  @media screen and (max-width: 984px)
Когда ширина экрана устройства меньше или равна 984 пикселям, активируется этот медиа-запрос.

Внутри этого медиа-запроса устанавливается минимальная высота ".cover__background" равной 480 пикселям. 
Таким образом, на устройствах с шириной экрана до 984 пикселей фоновый блок будет иметь высоту 480 пикселей.
  */
  @media screen and (max-width: 984px) {
    .cover__background {
      min-height: 480px;
    }
  }
  
  /* 
  @media screen and (max-width: 568px)
Когда ширина экрана устройства меньше или равна 568 пикселям, активируется этот медиа-запрос.

Внутри этого медиа-запроса устанавливается минимальная высота ".cover__background" равной 200 пикселям. 
Таким образом, на устройствах с шириной экрана до 568 пикселей фоновый блок будет иметь высоту 200 пикселей.

Это позволяет адаптировать высоту фонового блока под разные размеры экранов и устройств, 
чтобы обеспечить лучшее визуальное восприятие сайта на различных устройствах. 
  */
  @media screen and (max-width: 568px) {
    .cover__background {
      min-height: 200px;
    }
  }