/* 
- margin: 8px 0 0;
    Устанавливает внешние отступы для элемента .lead__caption в формате: верхний отступ равен 8 пикселям, а отступы снизу и слева равны 0. Это создает небольшое расстояние между элементом .lead__image и текстом .lead__caption сверху.

- padding: 0;
    Удаляет внутренние отступы для элемента .lead__caption, чтобы текст был прижат к краям элемента.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .lead__caption. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .lead__caption.

- font-weight: 400;
    Устанавливает обычную толщину шрифта для текста элемента .lead__caption.

- font-size: 10px;
    Устанавливает размер шрифта элемента .lead__caption равным 10 пикселям. Это довольно мелкий размер шрифта, что может использоваться, например, для подписей или дополнительной информации.

- line-height: 140%;
    Устанавливает высоту строки для текста элемента .lead__caption, что позволяет установить небольшой интервал между строками.

- letter-spacing: 1.5px;
    Устанавливает расстояние между символами (межбуквенное расстояние) текста элемента .lead__caption в 1.5 пикселя.

- text-align: start;
    Устанавливает выравнивание текста внутри элемента .lead__caption по левому краю контейнера.

- text-transform: uppercase;
    Преобразует текст элемента .lead__caption в верхний регистр (заглавные буквы).

- color: #FFFFFF;
    Устанавливает цвет текста элемента .lead__caption в белый (#FFFFFF).
    */
.lead__caption {
    margin: 8px 0 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-align: start;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - padding-left: 24px;
      Устанавливает внутренний отступ слева для элемента 
      .lead__caption в 24 пикселя, что создает пространство между текстом и левым краем контейнера на средних экранах.
  */
  @media screen and (max-width: 984px) {
    .lead__caption {
      padding-left: 24px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - padding-left: 16px;
      Устанавливает внутренний отступ слева для элемента 
      .lead__caption в 16 пикселей, что создает еще меньше пространства между текстом и левым краем контейнера на узких экранах.
  */
  @media screen and (max-width: 568px) {
    .lead__caption {
      padding-left: 16px;
    }
  }