/* 
- max-width: 560px;
    Устанавливает максимальную ширину текста элемента .cover__title равной 560 пикселям. 
    Это ограничивает ширину текста, чтобы текст не распространялся на всю ширину контейнера и сохранял хорошую читаемость.

- margin: 0 auto 32px;
    Устанавливает внешние отступы текста элемента .cover__title равными 0 пикселей сверху, 
    автоматически центрирует текст по горизонтали и добавляет отступ вниз равный 32 пикселям, 
    чтобы создать пространство между заголовком и другими элементами.

- padding: 0;
    Удаляет внутренние отступы для текста элемента .cover__title, что предотвращает возможные нежелательные отступы внутри текста.

- font-family: 'Inter';
    Устанавливает шрифт для текста элемента .cover__title как 'Inter', что позволяет использовать пользовательский шрифт для заголовка.

- font-style: normal;
    Устанавливает стиль шрифта элемента .cover__title как обычный (без наклона или курсива).

- font-weight: 900;
    Устанавливает жирное начертание (толщину) для шрифта элемента .cover__title, что делает заголовок более выразительным.

- font-size: 72px;
    Устанавливает размер шрифта элемента .cover__title равным 72 пикселям.

- line-height: 106%;
    Устанавливает высоту строки текста элемента .cover__title равной 106% от размера шрифта, 
    что обеспечивает хорошее вертикальное выравнивание и промежуток между строками текста.

- text-align: center;
    Выравнивает текст заголовка по центру элемента .cover__title.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .cover__title в белый (#FFFFFF), что обеспечивает хорошую видимость заголовка на темном фоне.

- z-index: 1;
    Устанавливает индекс подъема элемента .cover__title равным 1, 
    что может быть полезно для работы с позиционированием элементов в трехмерном пространстве.
*/
.cover__title {
max-width: 560px;
margin: 0 auto 32px;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
text-align: center;
color: #FFFFFF;
z-index: 1;
}

/* 
Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - margin: 0 auto 16px;
      Обновляет внешние отступы текста элемента .cover__title равными 0 пикселей сверху, 
      автоматически центрирует текст по горизонтали и добавляет отступ вниз равный 16 пикселям, 
      чтобы уменьшить пространство между заголовком и другими элементами.
  
  - min-width: 288px;
      Устанавливает минимальную ширину текста элемента .cover__title равной 288 пикселям на самых узких экранах, 
      чтобы текст оставался читаемым и хорошо отображался.
  
  - font-size: 32px;
      Обновляет размер шрифта элемента .cover__title равным 32 пикселям на более узких экранах.
  
  - line-height: 109%;
      Обновляет высоту строки текста элемента .cover__title равной 109% от размера шрифта на более узких экранах, 
      что обеспечивает хорошее вертикальное выравнивание и промежуток между строками текста на узких экранах.
*/
@media screen and (max-width: 568px) {
    .cover__title {
      margin: 0 auto 16px;
      min-width: 288px;
      font-size: 32px;
      line-height: 109%;
    }
  }