/* 
/* 
Код для стилизации элемента с классом ".place".

- display: grid;
    Устанавливает элемент .place как контейнер сетки, чтобы его дочерние элементы можно было расположить в сетке.

- grid-template-columns: 460px 1fr;
    Определяет шаблон для колонок в сетке .place. Здесь используется "460px" для установки фиксированной ширины первой колонки в 460 пикселей, 
    а вторая колонка устанавливается с помощью "1fr", что позволяет ей занимать всё доступное пространство в сетке.

- gap: 48px 40px;
    Устанавливает промежуток (отступ) между элементами в сетке .place равным 48 пикселям по вертикали и 40 пикселям по горизонтали.

- padding: 40px 0;
    Устанавливает внутренние отступы для элемента .place, 
    что создает вертикальные отступы сверху и снизу в 40 пикселей и не устанавливает горизонтальные отступы.
*/
.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding: 40px 0;
  }

  /* 
  Медиа-запрос для устройств с шириной экрана до 1140 пикселей:
- @media screen and (max-width: 1140px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 1140 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - grid-template-columns: 440px 1fr;
      Обновляет шаблон для колонок в сетке .place, устанавливая фиксированную ширину первой колонки в 440 пикселей.

  - gap: 48px 32px;
      Обновляет промежуток (отступ) между элементами в сетке .place, устанавливая 48 пикселей по вертикали и 32 пикселя по горизонтали.
  */
  @media screen and (max-width: 1140px) {
    .place {
      grid-template-columns: 440px 1fr;
      gap: 48px 32px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - padding: 36px 0;
      Обновляет внутренние отступы для элемента .place, устанавливая вертикальные отступы сверху и снизу в 36 пикселей.

  - grid-template-columns: 340px 1fr;
      Обновляет шаблон для колонок в сетке .place, устанавливая фиксированную ширину первой колонки в 340 пикселей.

  - gap: 48px 28px;
      Обновляет промежуток (отступ) между элементами в сетке .place, устанавливая 48 пикселей по вертикали и 28 пикселей по горизонтали.
  */
  @media screen and (max-width: 984px) {
    .place {
      padding: 36px 0;
      grid-template-columns: 340px 1fr;
      gap: 48px 28px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - padding: 0 0 25px 0;
      Обновляет внутренние отступы для элемента .place, 
      устанавливая вертикальный отступ снизу в 25 пикселей и удаляя вертикальные отступы сверху и по бокам.

  - grid-template-columns: minmax(288px, 1fr);
      Обновляет шаблон для колонок в сетке .place, устанавливая минимальную ширину первой колонки в 288 пикселей, 
      и позволяя второй колонке занимать всё доступное пространство в сетке.

  - gap: 32px;
      Обновляет промежуток (отступ) между элементами в сетке .place, устанавливая 32 пикселя по вертикали и по горизонтали.
  */
  @media screen and (max-width: 568px) {
    .place {
      padding: 0 0 25px 0;
      grid-template-columns: minmax(288px, 1fr);
      gap: 32px;
    }
  }