/* 
display: flex;
Устанавливает элемент .footer как flex-контейнер, что позволяет управлять позиционированием и выравниванием дочерних элементов.

justify-content: space-between;
Распределяет дочерние элементы внутри .footer равномерно с равным пространством между ними,
что создает отступы между элементами внутри контейнера.

margin: 0 auto;
Устанавливает отступы сверху и снизу внутри .footer равными 0, а отступы слева и справа автоматически,
что центрирует контейнер по горизонтали на широких экранах.

padding: 92px 48px 24px;
Устанавливает внутренние отступы внутри .footer с верхней стороны 92 пикселя, с правой и левой стороны 48 пикселей,
и с нижней стороны 24 пикселя.
*/
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 92px 48px 24px;
}

/* 
@media screen and (max-width: 984px)
Медиа-запрос, который меняет внутренние отступы .footer на верхней стороне на 88 пикселей,
и оставляет 24 пикселя на правой и левой сторонах, когда ширина экрана устройства меньше или равна 984 пикселям.
*/
@media screen and (max-width: 984px) {
    .footer {
      padding: 88px 24px 24px;
    }
  }
  
  /* 
  @media screen and (max-width: 568px)
Медиа-запрос, который изменяет направление элементов внутри .footer на вертикальное (column),
выравнивает элементы по левой стороне (align-items: flex-start),
устанавливает автоматические отступы сверху и снизу (margin: 64px auto 24px) для центрирования контейнера по горизонтали на узких экранах,
и удаляет внутренние отступы слева и справа, устанавливая 16 пикселей отступа по краям (padding: 0 16px).
  */
  @media screen and (max-width: 568px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      margin: 64px auto 24px;
      padding: 0 16px;
    }
  }