/* 
- margin: 0 0 12px;
    Устанавливает внешние отступы для элемента .place__url-heading равными 0 пикселей сверху и снизу, и 12 пикселей справа и слева. Это создает небольшой отступ между элементом .place__url-heading и соседними элементами.

- padding: 0;
    Удаляет внутренние отступы для элемента .place__url-heading, что предотвращает возможные нежелательные отступы внутри элемента.

- font-style: normal;
    Устанавливает стиль шрифта элемента .place__url-heading как обычный (без наклона или курсива).

- font-weight: 400;
    Устанавливает нормальную толщину шрифта элемента .place__url-heading, что является значением по умолчанию.

- font-size: 12px;
    Устанавливает размер шрифта элемента .place__url-heading равным 12 пикселям.

- line-height: 100%;
    Устанавливает высоту строки текста элемента .place__url-heading равной 100% от размера шрифта, что предотвращает лишнее пространство между строками.

- letter-spacing: 2px;
    Устанавливает расстояние между буквами (кернинг) элемента .place__url-heading в 2 пикселя. Это добавляет небольшое расстояние между символами текста.

- color: #AAAAAA;
    Устанавливает цвет текста элемента .place__url-heading в светло-серый (#AAAAAA).
*/
.place__url-heading {
    margin: 0 0 12px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
  }