/* 
- max-width: 690px;
    Устанавливает максимальную ширину элемента .intro__title в 690 пикселей, что ограничивает его ширину на больших экранах.

- margin: 0;
    Удаляет внешние отступы для элемента .intro__title, чтобы текст был прижат к краям элемента.

- padding: 0;
    Удаляет внутренние отступы для элемента .intro__title, чтобы текст был прижат к краям элемента.

- font-family: 'Inter', Arial, sans-serif;
    Устанавливает шрифт текста элемента .intro__title. Сначала ищет шрифт "Inter" и использует его, если не найден, то переходит к шрифту "Arial", а затем к любому общему беззасечному (sans-serif) шрифту.

- font-style: normal;
    Устанавливает обычное начертание (не курсив) для текста элемента .intro__title.

- font-weight: 900;
    Устанавливает жирное начертание шрифта для текста элемента .intro__title.

- font-size: 54px;
    Устанавливает размер шрифта элемента .intro__title равным 54 пикселям. Это довольно крупный размер шрифта, что может использоваться для заголовков или выделения ключевой информации.

- line-height: 107%;
    Устанавливает высоту строки для текста элемента .intro__title, что позволяет установить небольшой интервал между строками.

- color: #FFFFFF;
    Устанавливает цвет текста элемента .intro__title в белый (#FFFFFF).
*/
.intro__title {
    max-width: 690px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
  } 

  /* 
  Медиа-запрос для устройств с шириной экрана до 984 пикселей:
- @media screen and (max-width: 984px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 984 пикселям.

  Внутри этого медиа-запроса, применяется следующий стиль:
  - max-width: 720px;
      Устанавливает максимальную ширину элемента .intro__title в 720 пикселей, что ограничивает его ширину на маленьких экранах.
  */
  @media screen and (max-width: 984px) {
    .intro__title {
      max-width: 720px;
    }
  }
  
  /* 
  Медиа-запрос для устройств с шириной экрана до 568 пикселей:
- @media screen and (max-width: 568px)
  Этот медиа-запрос активируется, когда ширина экрана меньше или равна 568 пикселям.

  Внутри этого медиа-запроса, применяются следующие стили:
  - min-width: 288px;
      Устанавливает минимальную ширину элемента .intro__title в 288 пикселей, чтобы предотвратить слишком сильное сжатие на очень узких экранах.
  - font-size: 32px;
      Устанавливает размер шрифта элемента .intro__title равным 32 пикселям, что уменьшает его размер на узких экранах.
  - line-height: 109%;
      Устанавливает высоту строки для текста элемента .intro__title, что позволяет установить небольшой интервал между строками на узких экранах.
  */
  @media screen and (max-width: 568px) {
    .intro__title {
      min-width: 288px;
      font-size: 32px;
      line-height: 109%;
    } 
  }